.flex {
    display: flex;
    flex-direction: row;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    /* height: 100vh; */
    background-color: #9f9f9f;
    margin: 1px;
    width: 1px !important;
}

.split{
    height: 95vh;
    padding: 10pt;
}

iframe {
    height:calc(100vh - 20px);
    /*width:calc(100vw - 4px);*/
    box-sizing: border-box;
    width: 100%;
}

h1,h2,h3,u{
    padding-top: 15px;
}
